      <div  class="<%= done ? 'completed' : '' %>">


           <div class="row">
                <div class="col-md-2">
                    <div class="view">
                    <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %>>
                    <label class="todo-content"><%= content %></label>
                    <button class="todo-destroy"></button>
                    </div>
             </div>
                <div class="col-md-3">
                    <label for="st">Step</label>
                    <input id="st" name="step" type="text" class="edit" value="<%=step%>">

                    <label for="dx">DataX</label>
                    <input id="dx" name="dataX" type="text" class="edit"  value="<%=dataX%>">

                    <label for="dy">DataY</label>
                    <input id="dy" name="dataY" type="text" class="edit"  value="<%=dataY%>">

                    <label for="dz">DataZ</label>
                    <input id="dz" name="dataZ" type="text" class="edit"  value="<%=dataZ%>">
                </div>
                <div class="col-md-4">
                    <label for="con">Content</label>
                    <textarea id="con"class="edit notebook"  name="content" cols="40" rows="15"><%=content%></textarea>
                </div>
                <div class="col-md-2" id='rot'>
                    <label for="drx">RotateX</label>
                    <input id="drx" name="dataRotateX" type="range" min="0" max="360" step="10" class="edit"  value="<%=dataRotateX%>"  >
                    <span id="rotx"></span>


                    <label for="dry">RotateY</label>
                    <input id="dry" name="dataRotateY" type="range" min="0" max="360" step="10"  class="edit"  value="<%=dataRotateY%>">
                    <span id="roty"></span>

                    <label for="drz">RotateZ</label>
                    <input id="drz" name="dataRotateZ" type="range" min="0" max="360" step="10"  class="edit"  value="<%=dataRotateZ%>">
                    <span id="rotz"></span>

                    <label for="ds" >Scale</label>
                    <input id="ds" name="dataScale" type="range" min="1" max="10" step="1"  class="edit"  value="<%=dataScale%>">
                </div>
           </div>
           <br>
            <button class="upd btn btn-3 btn-3e icon-arrow-right">Update</button>
      </div>